@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Regular.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  --color-dark-100: rgba(31, 32, 65, 1);
  --color-dark-75: rgba(31, 32, 65, .75);
  --color-dark-50: rgba(31, 32, 65, .5);
  --color-dark-25: rgba(31, 32, 65, .25);
  --color-dark-5: rgba(31, 32, 65, .05);
  --color-purple: #BC9CFF;
  --color-green: #6FCF97;

  --background: linear-gradient(#BC9CFF, #8BA4F9);

  --border-radius-field: 4px;
  --border-radius-toggle: 10px;
  --border-radius-button: 22px;

  --border-field-default: 1px solid var(--color-dark-25);
  --border-field-focus: 1px solid var(--color-dark-50);
  --border-toggle: 1px solid var(--color-purple);
  --border-button: 2px solid var(--background);

  --font-family-base: 'Montserrat', sans-serif;
  --font-size: 14px;
  --font-size-button: 12px;

  --input-height: 44px;
  --input-toggle-height: 20px;

  --container-width: 1440px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

}

body {
  background-color: white;
  font-family: var(--font-family-base);
  font-size: var(--font-size);
  line-height: 1.5;
  color: var(--color-dark-75);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-dark-50);
  text-decoration: none;
}

a:hover {
  color: var(--color-dark-75);
}

/* .container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
} */

h1 {
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-weight: 700;
  font-size: 19px;
}

h3 {
  font-weight: 700;
  font-size: 12px;
}

.header {
  display: flex;
  max-width: 1440px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-inline: 140px;
}

.header-logo, .footer-logo {
  align-items: center;
  justify-content: start;
  display: flex;
  gap: 12px;
  padding-right: 50px;
}

.logo,
.logo-name {
  flex-shrink: 0;
}

.header-menu{
  display: flex;
  justify-content: end;
  }

.menu-list {
  display: flex;
  column-gap: 20px;
  white-space: nowrap;
}

.menu-link {
  align-items: center;
}

.menu-link.dropdown::after {
  content: "";
  border-bottom: 2px solid var(--color-dark-75);
  border-right: 2px solid var(--color-dark-75);
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  align-items: center;
}

.dropdown {
  display: inline-flex;
  gap: 7px;
  flex-direction: row;
  
}

.menu-item{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

}

.list-dropdown {
  position: absolute;
  width: 190px;
  border: var(--border-field-default);
  border-radius: var(--border-radius-field);
  background-color: #fff;
  fill: #fff;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  top: 35px;
  left: 0;
  padding: 4px 10px;
  display: none;
}

.menu-item:hover .list-dropdown{
  display: initial;
}

.item-dropdown{
  padding-top: 4px;
}


.header-actions {
  display: flex;
  justify-content:flex-end;
  position: relative;
  gap: 20px;
  padding-left: 20px;
  }

.header-button {
  display: inline-flex;
  border: none;
  height: 34px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--font-size-button);
  background: var(--background);
  border-radius: var(--border-radius-button);
  font-family: var(--font-family-base);

}

.button-login,
.button-burger-menu {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  background: #fff;
  width: 87px;
  justify-content: center;
  align-items: center;
  color: #BC9CFF;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to bottom, #BC9CFF, #8BA4F9) border-box;
  border-radius: var(--border-radius-button);
  border: 2px solid transparent;
  }

.button-login:hover {
  scale: 105%;
}

.button-sing-up {
  padding-inline: 19px;
  color: #ffffff;
}

.button-sing-up:hover {
  scale: 105%;
}

.button-burger-menu {
  width: 34px;
  height: 34px;
  background-color: transparent;
  display: none;
}

.burger-menu:nth-child(odd) {
  width: 10px;
  height: 2px;
  background: var(--color-purple);
  border-radius: 1px;
}

.burger-menu:nth-child(2) {
  width: 15px;
  height: 2px;
  background: var(--color-green);
  border-radius: 1px;
}

.container {
background-image: url("../image/hotel-image.png");
background-repeat: no-repeat;
height: 100vh;
width:100%;
background-position: 0 0;
background-size: cover;
}



.footer .footer-main{
  display: flex;
  justify-content: space-between;  
  padding-top: 100px;
  padding-inline: 137px;
  /* padding-bottom: 100px; */
  max-width: 1440px;

}

.footer-body {
  display: grid;

  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  column-gap: 60px;



  /* justify-content: space-between;
  height: -20px;
  column-gap: 20px;
  padding-inline: 140px;
margin-bottom: 0;
padding-bottom: 0; */
}

.footer-logo{
  display: grid-line;

}

.logo-name{
  display: grid-line;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center; 
}

.body-column>a{
  display: inline-block;
padding-top: 20px;
}

.body-column>p{
  line-height: 171%;
  padding-top: 20px;
}

.column-title{
  text-transform: uppercase;
  white-space: nowrap;
}



.footer-exstra{
  display: flex;
  padding-inline: 140px;
  height: 70px;
  justify-content: space-between;
  box-shadow: 0 10px 20px 0 rgba(31, 32, 65, 0.05);
background: #fff;
align-items: center;
max-width: 1440px;

}

.soc1als-list{
  display: inline-flex;
  flex-direction: row;
gap: 20px;
}